
<!DOCTYPE html>
<html>
  <head>
    <title>Team Bio </title>
  </head>
  <body>
     <h1>Bree Bai</h1>
     <a href="http://www.brandeis.edu">  Link to photo </a>
      <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
      <img src="picture.jpg"  alt="this is a picture of Bree">
       <ul>
          <li>  </li>
          <li> This is her bio
            </li>
         </ul>

         <h1>Coco Zhang</h1>
         <a href="http://www.brandeis.edu">  Link to photo </a>
          <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
          <img src="picture.jpg"  alt="this is a picture of Coco">
           <ul>
              <li>  </li>
              <li> This is her bio
                </li>
             </ul>

        <h1>Xin Yao Lin</h1>
             <a href="http://www.brandeis.edu">  Link to photo </a>
              <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
              <img src="picture.jpg"  alt="this is a picture of Xin">
               <ul>
                  <li>  </li>
                  <li> I enjoy food and traveling in my spare time!
                    </li>
                 </ul>
  </body>
</html>
