
<!DOCTYPE html>
<html>
  <head>
    <title>Team Bio </title>
  </head>
  <body>
     <h1>Bree Bai</h1>
      <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
      <img src="https://lh3.googleusercontent.com/nnXAqtnNWA2ZPXU2A80NzhPZFDBPcgEu7DX3cm8JyeBzyFbjvwOKWVuo3oqMgjl1vjXu-MY7fCgEHqQrU_pTfKJOfday9pgUkWVdt5vy2Ft3K2px58oX7N41Y11mHlsgFPZm8oLZrfuyrAUXG27LE7HhbkMveXTgTS4kSaTdO6Jn_Cr_43vpWRYB9jVAwgi-YNjstfLxAmraL9CmBoOg7oGDq4wdxuaaQOW0RtQRmyxKQemIxSMIPdhZHnG3oetmv_BC-iH6GsBH-qDcvDrtgX66crTsDUQ_hCd-nl8T5rLF0rIvu55gof-SRzjyijfDH2RzbgvxYkWwFkKIXuFPrJJ_x7_yu7e0ForCUN4EJAP2weS5Fbv-FxaAbazt2JxtNykXOhs8JTrQw_rFZek_ppqRiRpflhhkGexHnOFtl62RmK8zIZRKoDZfvzObyxrIi0hFOFwGJ-VJs_0Y2USQZqGXxip_tQ2NFRR0lBdQcaPkQpg7tTVyu5oXknMSm6nyVpRLELDD5mRCfZfv8uUk-NwdrPhJwHIT2CHeVzjdKdL334mNWqTPX-dHLtyf9pqZLcfHvdeWCFzYPjDoqmNi-Nc6WG5tZrGi8MtKOZ185x_y5cmYmP75GrGMIn5mCAuD-GicNIYqwLIQV0zczaO5v9hpPIXbaY1DjaQAH1lpS4tgYF-Fi_6qQfE0_KRSWg=w1734-h1300-no"  alt="this is a picture of Bree">
       <ul>

          <li> I love cats and cats hate me
            </li>
         </ul>

         <h1>Coco Zhang</h1>
          <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
          <img src="picture.jpg"  alt="this is a picture of Coco">
           <ul>

              <li> This is her bio
                </li>
             </ul>

        <h1>Xin Yao Lin</h1>

              <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
              <img src="https://www.brandeis.edu/psychology/lachman/images/Xin-Yao-Lin.jpg"  alt="this is a picture of Xin">
               <ul>

                  <li> I enjoy food and traveling in my spare time!
                    </li>
                 </ul>
  </body>
</html>
