
<!DOCTYPE html>
<html>
  <head>
    <title>Team Bio </title>
  </head>
  <body>
     <h1>Bree Bai</h1>
      <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
      <img src="https://photos.smugmug.com/photos/i-T8JVvHv/0/354b4d30/X3/i-T8JVvHv-X3.jpg"  alt="this is a picture of Bree">
       <ul>

          <li> I love cats and cats hate me
            </li>
         </ul>

         <h1>Coco Zhang</h1>
          <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
          <img src="https://photos.smugmug.com/photos/i-3dd9Z2w/0/a26c8bb4/X2/i-3dd9Z2w-X2.jpg"  alt="this is a picture of Coco">
           <ul>

              <li> I like traveling, eating, and vlogging.
                </li>
             </ul>

        <h1>Xin Yao Lin</h1>

              <br>  <!-- this is a comment which browsers ignore, the br tag adds a link break -->
              <img src="https://www.brandeis.edu/psychology/lachman/images/Xin-Yao-Lin.jpg"  alt="this is a picture of Xin">
               <ul>

                  <li> I enjoy food and traveling in my spare time!
                    </li>
                 </ul>
  </body>
</html>
